# джънка навън
build/
__pycache__/
*.o
*-static
*.tmp
*.log
*.txt

# ВСИЧКО останало е забранено по подразбиране
*

# позволи разходка из папките (иначе git не влиза в тях)
!*/

# whitelist — само това пътува към GitHub
!*.asm
!*.md
!*.py
!*.sh
!*.ANSI
